@charset "utf-8";
/* CSS Document */

.nav {
	position:relative;
	height: 37px;
	width: 550px;
	background:transparent url(/images/navbar-bg.jpg) no-repeat center top; 
	/*margin: 10px 0;*/
	margin-left:50px;
	padding: 0 35px 0 35px;
	/*overflow: hidden;
	border: 1px solid #5CB5D9;*/
	z-index: 15;/* 为了解决IE中被subnav中滚动新闻遮挡的问题 */
}
.nav ul {
}
.nav li {
	float: left;
	list-style: none;
	position: relative;
}
.nav li a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	padding:8px 16px;
}
.nav li a:hover {
	border: 1px solid #5CB5D9;
	background: #5CB5D9;
}
.nav li a:hover, .nav li a:active, .nav li a:visited {
	border: none;
	text-decoration: none;
}
.nav .current {
	background: #5CB5D9;
}

#plugin_list {background:#5CB5D9;display:none;position:absolute;top:32px;right:0;width:315px;z-index:5;zoom:1;}
/*
#plugin_list li {float:right;}
#plugin_list a {font-weight:normal;padding:8px 12px;margin:0;top:0;margin:5px;height:auto;width:70px;_margin-left:-5px;}
#plugin_list a:hover {background:#A1DDF9;font-weight:bold;}
*/

#plugin_list a {
	overflow: visible;
	text-decoration: none;
	outline: none;
	text-align: center;
	font-weight: normal;
	height: 14px;
	margin: 5px;
	padding: 8px 12px;
	width: 70px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
#plugin_list a:hover {
	background-color: #A1DDF9;
	font-weight: bold;
}
#plugin_list sup {
	text-align: center;
	font-weight: normal;
	background-color: #f00;
	border-radius: 10px;
	color: #fff;
	font-size: 12px;
	padding: 1px 3px;
	z-index: 2;
	min-width: 12px;
	position: absolute;
	left: -4px;
	top: -4px;
	display: block;
}
#plugin > a {
	overflow: visible;
}
#plugin > a > sup {
	text-align: center;
	font-weight: normal;
	background-color: #f00;
	border-radius: 10px;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	padding: 3px;
	z-index: 2;
	min-width: 12px;
	height: 12px;
	position: absolute;
	left: -4px;
	top: -4px;
	display: block;
}