.fancybox-inner > table th {
	white-space: nowrap;
	padding: 4px;
}
.fancybox-inner > table td {
	padding: 4px;
}

#discovery_wrapper {
	display: none;
}
#find_button_wrapper {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
#find_button {
	display: block;
	top: 0;
	left: auto;
	right: -70px;
	width: 37px;
	height: 35px;
	cursor: pointer;
	background: url('/images/find.png') no-repeat center bottom;
	transition: height .1s ease;
}
#find_button.visible {
	height: 110px;
}

#mainContent {
	margin-top: 30px;
}

.torrent_detail {
	padding: 20px;
}
.torrent_detail .sidebar {
	float: right;
	width: 260px;
	margin: 0 0 20px 20px;
}
.torrent_detail .sidebar h3 {
	font-size: 14px;
	margin-bottom: 5px;
}
.torrent_detail .uploader_info {
	padding: 10px;
	background: #dadada;
}
.torrent_detail .uploader_info a {
	color: #333;
	text-decoration: none;
	transition: color .25s ease;
}
.torrent_detail .uploader_info a:hover {
	color: #06f;
	text-decoration: none;
}
.torrent_detail .uploader_info .avatar {
	width: 75px;
	height: 75px;
	margin-right: 10px;
	float: left;
}
.torrent_detail .uploader_info .badge {
	width: 80px;
}
.torrent_detail .uploader_info p {
	line-height: 25px;
}
.torrent_detail .uploader_info ul {
	overflow: hidden;
}
.torrent_detail .uploader_info li {
	line-height: 25px;
	white-space: nowrap;
	list-style: square inside;
}
.torrent_detail .recent_visitors {
	margin-top: 10px;
	padding: 5px 5px 0;
}
.torrent_detail .recent_visitors .recent_visitor_avatar {
	padding: 3px;
	float: none;
	display: inline-block;
}
.torrent_detail .recent_visitors .recent_visitor_avatar img {
	width: 25px;
	height: 25px;
}
.torrent_detail .random_recommend {
	margin-top: 5px;
	padding: 5px;
}
.torrent_detail .random_recommend h3 {
	font-size: 14px;
	margin-bottom: 5px;
}
.torrent_detail .random_recommend .item {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 120px;
	margin: 0;
	text-decoration: none;
	overflow: hidden;
	opacity: 0.5;
	transition: opacity .25s ease;
}
.torrent_detail .random_recommend .item:hover {
	opacity: 1;
}
.torrent_detail .random_recommend .item img {
	display: block;
	width: 100%;
	height: 100%;
}
.torrent_detail .random_recommend .item span {
	position: absolute;
	color: #eee;
	background: #222;
	height: 48px;
	padding: 5px;
	display: block;
	overflow: hidden;
	bottom: -58px;
	left: 0;
	word-break: break-all;
	word-wrap: break-word;
	transition: bottom .25s ease;
}
.torrent_detail .random_recommend .item:hover span {
	bottom: 0;
}

.torrent_detail .sticky_or_recommend_seal_wrapper {
	position: relative;
}
.torrent_detail .sticky_or_recommend_seal_wrapper img {
	position: absolute;
	top: -50px;
	left: -60px;
}
.torrent_detail h1 {
	font-size: 18px;
	line-height: 32px;
	margin: 5px 0 15px;
	word-wrap: break-word;
	word-break: break-all;
}
.torrent_detail .sticky_or_recommend_prop_wrapper {
	margin: 15px 0;
}
.torrent_detail .sticky_or_recommend_prop_wrapper .sticky_or_recommend {
	margin-right: 10px;
	display: inline-block;
	background-position: 5px center;
	background-repeat: no-repeat;
	background-color: #FFECD0;
	border-width: 1px;
	border-style: solid;
	border-color: #f90;
	color: #000;
	line-height: 18px;
	padding: 5px 5px 5px 50px;
	text-align: left;
	vertical-align: middle;
}
.torrent_detail .sticky_or_recommend_prop_wrapper .sticky {
	background-image: url('/images/icon_top.png');
}
.torrent_detail .sticky_or_recommend_prop_wrapper .recommend {
	background-image: url('/images/icon_recommend.png');
}
.torrent_detail .sticky_or_recommend_prop_wrapper .prop {
	margin-right: 10px;
	display: inline-block;
}
.torrent_detail .sticky_or_recommend_prop_wrapper .prop img {
	height: 24px;
	margin-right: 5px;
	vertical-align: middle;
}
.torrent_detail .sticky_or_recommend_prop_wrapper .prop span {
	vertical-align: middle;
}

.torrent_detail .claim_info {
	margin: 15px 0;
	width: 635px;
	padding: 10px;
	border: 1px dashed #0085B2;
	background: #DAE0FF;
	text-align: center;
}
.torrent_detail .claim_info .users .item {
	display: inline-block;
	vertical-align: top;
	margin: 2px;
	padding: 5px;
	width: 30px;
	height: 42px;
	line-height: 12px;
	overflow: hidden;
	text-decoration: none;
	color: #333;
	transition: background-color .25s ease, color .25s ease;
}
.torrent_detail .claim_info .users .item:hover {
	background-color: #f3f3f3;
	color: #06f;
}
.torrent_detail .claim_info .users .item .avatar {
	display: block;
	width: 30px;
	height: 30px;
}
.torrent_detail .claim_info .users .operation {
	background-repeat: no-repeat;
	background-position: center 8px;
	height: 12px;
	padding-top: 35px;
	width: auto;
	min-width: 24px;
	overflow: visible;
}
.torrent_detail .claim_info .users .add {
	background-image: url('/images/claim_add.png');
}
.torrent_detail .claim_info .users .delete {
	background-image: url('/images/claim_delete.png');
}

.torrent_detail .quarantine_info {
	margin: 15px 0;
	width: 635px;
	padding: 10px;
	border: 1px dashed #FF9900;
	background: #FFECD0;
}

.torrent_detail .torrent_report_wrapper {
	width: 655px;
	margin: 15px 0;
}

.torrent_detail .torrent_dupe_wrapper {
	width: 655px;
	margin: 15px 0;
}

.torrent_detail .torrent_operation_wrapper {
	margin: 15px 0;
}
.torrent_detail .torrent_operations {
	display: inline-block;
}
.torrent_detail .torrent_operations .operation {
	background-color: transparent;
	margin-left: 0;
	margin-right: 9px;
	padding-left: 30px;
	padding-right: 10px;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	cursor: pointer;
	color: #333;
	text-decoration: none;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 10px center;
	transition: background-color .25s ease;
	border-radius: 0;
}
.torrent_detail .torrent_operations .operation:hover {
	text-decoration: none;
	background-color: #fff;
}
.torrent_detail .torrent_operations .download_torrent {
	background-image: url('/images/download_torrent.png');
}
.torrent_detail .torrent_operations .add_to_list {
	background-image: url('/images/plus_icon.png');
}
.torrent_detail .torrent_operations .do_favorite {
	background-image: url('/images/favorite_icon.png');
}
.torrent_detail .torrent_operations .add_to_rss {
	background-image: url('/images/rss_black_icon.png');
}
.torrent_detail .torrent_operations .flag_torrent {
	background-image: url('/images/flag_icon.png');
}
.torrent_detail .torrent_operations .hint {
	background: #fff;
	padding: 10px;
	color: #333;
	font-size: 12px;
	display: none;
	position: absolute;
}
.torrent_detail .torrent_operations .loading {
	background-image: url('/images/loading.gif');
}
.torrent_detail .torrent_operations .disabled {
	cursor: default;
	color: #666;
}

.torrent_detail .torrent_operation_wrapper .share_button_wrapper {
	border-radius: 0;
}
.torrent_detail .torrent_operation_wrapper .share_button_wrapper .item {
	color: #333;
}
.torrent_detail .torrent_operation_wrapper .share_button_wrapper .item:hover {
	color: #333;
	background-color: #dadada;
}

.torrent_download_lightbox {
	width: 500px;
	font-size: 14px;
}
.torrent_download_lightbox ul {
	list-style: square outside none;
	padding-left: 14px;
}
.torrent_download_lightbox li {
	line-height: 24px;
}
.torrent_download_lightbox .download {
	margin: 10px 0;
	text-align: center;
}
.torrent_download_lightbox .download a {
	display: inline-block;
	padding: 5px;
	margin: 0 10px;
	text-decoration: none;
	color: #333;
	background-color: #dadada;
	transition: background-color .25s ease, color .25s ease;
}
.torrent_download_lightbox .download a:hover {
	background-color: #333;
	color: #eee;
}
.torrent_download_lightbox .download .torrent {
}
.torrent_download_lightbox .download .zip {
}

.torrent_detail .torrent_misc_info_wrapper {
	margin: 15px 0;
	border-left: 1px dotted #999;
}
.torrent_detail .torrent_misc_info {
	width: 160px;
	border-right: 1px dotted #666;
	padding: 0 14px;
	vertical-align: top;
	display: inline-block;
}
.torrent_detail .torrent_misc_info p {
	line-height: 25px;
	font-size: 12px;
}
.torrent_detail .torrent_misc_info .upload_download_factor {
	font-weight: bold;
	background: #fff;
	padding: 2px 5px;
}

.torrent_description {
	width: 620px;
	padding: 20px;
	line-height: 180%;
	word-wrap: break-word;
}
.torrent_description img {
	max-width: 590px;
}
.torrent_description blockquote {
	border-style: solid;
	border-width: 1px 1px 1px 4px;
	border-color: #DEDEB8;
	background: url("/images/quote_title_background.png") no-repeat right top #FDFFF2;
	padding: 25px 5px 5px 5px;
	margin: 15px 0;
	overflow: hidden;
	display: block;
	word-wrap: break-word;
}
.torrent_description nfo {
	line-height: 1em;
	font-family: "Courier New", Courier, simsong;
	border-style: solid;
	border-width: 1px 1px 1px 4px;
	border-color: #D4D2F2;
	background: url("/images/code_title_background.png") no-repeat right top #E8ECEF;
	padding: 25px 5px 5px 5px;
	margin: 15px 0;
	overflow: hidden;
	display: block;
	word-break: break-all;
	word-wrap: break-word;
}

.torrent_attachment_inserted {
}
.torrent_attachment_inserted_info {
	display: none;
	background: #fff; /* for lower versions of IE */
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #999;
	min-width: 280px;
	padding: 5px;
	position: absolute;
	line-height: normal;
}
.torrent_attachment_inserted_info .right {
	float: right;
	text-align: right;
	margin: 0 0 0 15px;
}
.torrent_attachment {
	margin-top: 15px;
	line-height: normal;
}
.torrent_attachment a {
	font-weight: bold;
	color: #06f;
	word-wrap: break-word;
	word-break: break-all;
}
.torrent_attachment .right {
	float: right;
	text-align: right;
	margin: 0 0 0 15px;
}
.torrent_attachment .title {
	background: #F3F8D7;
	border: 1px solid #DEDEB8;
	color: #000000;
	font-weight: bold;
	padding: 5px 10px;
}
.torrent_attachment .item {
	border-top: 0 none;
	border-right: 1px solid #DEDEB8;
	border-bottom: 1px solid #DEDEB8;
	border-left: 1px solid #DEDEB8;
	background: #FDFFF2;
	line-height: 24px;
	padding: 5px 10px;
}
.torrent_attachment_type_binary {
	padding-left: 20px;
	background: url('/images/attachicons/binary.gif') no-repeat left center;
}
.torrent_attachment_type_image {
	padding-left: 20px;
	background: url('/images/attachicons/image.gif') no-repeat left center;
}
.torrent_attachment_type_text {
	padding-left: 20px;
	background: url('/images/attachicons/text.gif') no-repeat left center;
}

.torrent_detail .signatureinfo {
	margin: 20px;
	width: 620px;
}

.torrent_detail .containing_lists_wrapper {
	margin: 20px;
	text-align: center;
}
.torrent_detail .containing_lists {
}
.torrent_detail .containing_lists li {
	margin: 5px 10px;
	display: inline-block;
	text-align: left;
}
.torrent_detail .containing_lists li a {
	text-decoration: none;
	color: #333;
	transition: color .25s ease;
}
.torrent_detail .containing_lists li a:hover {
	color: #06f;
}
.torrent_detail .containing_lists li .avatar {
	float: left;
	margin-right: 4px;
}
.torrent_detail .containing_lists li .avatar img {
	width: 30px;
	height: 30px;
}

.torrent_detail .torrent_appreciation_wrapper {
	text-align: center;
	margin: 20px 0;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.torrent_detail .torrent_appreciation_wrapper .appreciate {
	display: inline-block;
	margin-right: 10px;
	width: 50px;
	height: 18px;
	line-height: 18px;
	padding: 6px 0 26px;
	text-align: center;
	position: relative;
	cursor: pointer;
	vertical-align: top;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-ms-box-shadow: 0 0 5px #999;
	-o-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
	background: #FFC268; /* Old browsers */
	background: -moz-linear-gradient(top, #ffefd6 0%, #ffcc81 70%, #ffc268 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffefd6), color-stop(70%,#ffcc81), color-stop(100%,#ffc268)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffefd6 0%,#ffcc81 70%,#ffc268 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffefd6 0%,#ffcc81 70%,#ffc268 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffefd6 0%,#ffcc81 70%,#ffc268 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffefd6 0%,#ffcc81 70%,#ffc268 100%); /* W3C */
}
.torrent_detail .torrent_appreciation_wrapper .appreciate .value {
	font-family: Georgia;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	color: #000;
}
.torrent_detail .torrent_appreciation_wrapper .appreciate .hint {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 12px;
	height: 20px;
	font-size: 12px;
	color: #333;
}
.torrent_detail .torrent_appreciation_wrapper .appreciate.disabled {
	cursor: default;
	box-shadow: none;
}
.torrent_detail .torrent_appreciation_wrapper .appreciate.disabled .hint {
	color: #666;
	text-shadow: 0 -1px 1px #ebebeb;
}
.torrent_detail .torrent_appreciation_wrapper .users {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	max-width: 380px;
}
.torrent_detail .torrent_appreciation_wrapper .users .item {
	display: inline-block;
	width: 30px;
	height: 44px;
	font-size: 12px;
	line-height: 14px;
	overflow: hidden;
	text-align: center;
	margin: 5px;
	text-decoration: none;
	color: #333;
	transition: color .25s ease;
}
.torrent_detail .torrent_appreciation_wrapper .users .item:hover {
	color: #06f;
}
.torrent_detail .torrent_appreciation_wrapper .users .avatar {
	width: 30px;
	height: 30px;
	display: block;
}

.torrent_detail .donate_bonus_wrapper {
	text-align: center;
	margin: 20px 0;
	width: 50%;
	display: inline-block;
	vertical-align: top;
}
.torrent_detail .donate_bonus {
	cursor: pointer;
	height: auto;
	padding: 6px 8px;
	margin-right: 10px;
	font-size: 10px;
	color: #050505;
	background: #dbdbdb; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 50%, #dbdbdb 51%, #b5b5b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ebebeb), color-stop(51%,#dbdbdb), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ebebeb 50%,#dbdbdb 51%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ebebeb 50%,#dbdbdb 51%,#b5b5b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ebebeb 50%,#dbdbdb 51%,#b5b5b5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#ebebeb 50%,#dbdbdb 51%,#b5b5b5 100%); /* W3C */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-webkit-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-moz-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-ms-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-o-box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
	}
.torrent_detail .donate_bonus:hover {
	background: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 50%, #dbdbdb 51%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ebebeb), color-stop(51%,#dbdbdb), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ebebeb 50%,#dbdbdb 51%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ebebeb 50%,#dbdbdb 51%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ebebeb 50%,#dbdbdb 51%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#ebebeb 50%,#dbdbdb 51%,#ebebeb 100%); /* W3C */
}
.torrent_detail .donate_bonus_wrapper .info {
	margin-top: 10px;
}
.torrent_detail .donate_bonus_wrapper .users {
	margin: 0 20px;
}
.torrent_detail .donate_bonus_wrapper .users .item {
	display: inline-block;
	width: 30px;
	height: 44px;
	font-size: 12px;
	line-height: 14px;
	overflow: hidden;
	text-align: center;
	margin: 5px;
	text-decoration: none;
	color: #333;
	transition: color .25s ease;
}
.torrent_detail .donate_bonus_wrapper .users .item:hover {
	color: #06f;
}
.torrent_detail .donate_bonus_wrapper .users .avatar {
	width: 30px;
	height: 30px;
	display: block;
}

.torrent_bottom_wrapper {
	display: none;
}

.write_comment_upload_subtitle_selector {
	height: 36px;
	margin: 20px 0 0 0;
	padding: 0;
}
.write_comment_upload_subtitle_selector li {
	display: inline-block;
	height: 36px;
	line-height: 36px;
}
.write_comment_upload_subtitle_selector a {
	display: block;
	color: #333;
	font-weight: bold;
	font-size: 12px;
	padding: 0 12px;
	line-height: 36px;
	height: 36px;
	text-decoration: none;
	outline: 0 none;
}

.torrent_comment_form {
	margin: 0 0 20px 0;
	padding: 20px;
}
.torrent_comment_form .instruction {
	vertical-align: top;
	display: inline-block;
	width: 182px;
	line-height: 20px;
	text-align: right;
}
.torrent_comment_form .smilies {
	display: none;
	margin-top: 5px;
	line-height: 0;
	background: #ccc;
}
.torrent_comment_form .smilies .item {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0px;
	padding: 3px;
	cursor: pointer;
	transition: background-color .25s ease;
}
.torrent_comment_form .smilies .item:hover {
	background: #fff;
}
.torrent_comment_form .right {
	vertical-align: top;
	display: inline-block;
	margin-left: 10px;
}
.torrent_comment_form .right input {
	display: none;
}
.torrent_comment_form .write_comment {
	display: block;
	width: 710px;
	padding: 10px;
	line-height: 20px;
	height: 20px;
	border: 1px solid #7AC4EA;
	outline: 0 none;
	color: #666;
	cursor: text;
	resize: none;
	background: rgba(255, 255, 255, 0.5);
	transition: background-color .25s ease, height .25s ease;
}
.torrent_comment_form .write_comment.focused {
	height: 100px;
	color: #000;
	margin-bottom: 5px;
	overflow-y: auto;
	background: url("/images/textarea-bg.jpg") no-repeat right 10px #FFF;
}

.mention_friend_list {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	max-height: 140px;
	overflow-y: auto;
	min-width: 120px;
}
.mention_friend_list li {
	display: block;
	line-height: 12px;
	font-size: 12px;
	margin: 0;
	padding: 4px 8px;
	height: auto;
	width: auto;
	float: none;
	background-color: transparent;
	transition: background-color .25s ease;
}
.mention_friend_list li:hover {
	background-color: #ccc;
}

.subtitle_upload_form {
	display: none;
	text-align: center;
	margin: 0 0 20px 0;
	padding: 20px;
}
.subtitle_upload_form table {
	margin: 0 auto;
}
.subtitle_upload_form td {
	padding: 5px;
	text-align: left;
}
.subtitle_upload_form input {
	font-size: 12px;
}

.torrent_comments_wrapper {
	padding: 20px;
}
.torrent_comments_wrapper .comments {
}
.torrent_comments_wrapper .comments .item {
	border-bottom: 2px solid #fff;
	padding: 10px 0;
}
.torrent_comments_wrapper .comments .item:first-child {
	border-top: 2px solid #fff;
}
.torrent_comments_wrapper .comments .deleted {
	text-align: center;
}
.torrent_comments_wrapper .comments .deleted img {
	vertical-align: middle;
}
.torrent_comments_wrapper .comments .deleted .show_deleted_comment {
	margin-left: 15px;
}
.torrent_comments_wrapper .comments .deleted .content {
	display: none;
}
.torrent_comments_wrapper .comments .left {
	vertical-align: top;
	display: inline-block;
	width: 100px;
	margin-right: 10px;
	text-align: center;
}
.torrent_comments_wrapper .comments .left .avatar {
	width: 100px;
	height: 100px;
}
.torrent_comments_wrapper .comments .left .user_stat {
	text-align: left;
}
.torrent_comments_wrapper .comments .right {
	vertical-align: top;
	display: inline-block;
	width: 830px;
}
.torrent_comments_wrapper .comments .right .info {
	color: #999;
	margin-bottom: 5px;
}
.torrent_comments_wrapper .comments .right .info .actions {
	float: right;
	text-align: right;
	color: #333;
}
.torrent_comments_wrapper .comments .right .info .actions a {
	margin-right: 15px;
	cursor: pointer;
}
.torrent_comments_wrapper .comments .right .content {
	line-height: 24px;
	min-height: 50px;
	word-wrap: break-word;
}
.torrent_comments_wrapper .comments .right .content img {
	vertical-align: middle;
}
.torrent_comments_wrapper .comments .right .signatureinfo {
}
.torrent_comments_wrapper .hint {
	text-align: center;
}