@charset "utf-8";
/* CSS Document */

/* global */
* {
	margin: 0;
	padding: 0;
}

html,body {
	background-color: #666;/*#5CB5D9;*/
	font-size: 12px;
	font-family: Tahoma, Arial, "Microsoft Yahei", "STXihei", "Simsun";
	-webkit-text-size-adjust: none;
}

h1,h2,h3{
	font-weight: bold;
	font-family: Tahoma, Arial, "Microsoft Yahei", "Simhei";
}

a {
	color: #0066FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: 0;
}

ul {
	list-style: none;
}
input, select, textarea, form {
	font-size: 12px;
	padding: 0;
	margin: 0;
	font-family: Tahoma, Arial, "Microsoft Yahei", "STXihei", "Simsun";
}

.clear {
	clear:both;
	background:#DFDFDF;
	height:10px;
	font-size: 1px;
	line-height: 0px;
}

.clear-internal {
	background:#DFDFDF;
	height:10px;
	font-size: 1px;
	line-height: 0px;
}

#header { 
background:url(/images/left.jpg) no-repeat left top #68C9F4;
}

.headtable {
height:70px;
margin:0 auto;
width:100%;
color:black;
}

.headtable a {
color:black;
}

#logo { 
/*background:transparent url(/images/logo.gif) no-repeat scroll left center;*/
cursor:pointer;
height:55px;
left:5px;
position:relative;
top:0;
width:170px;
z-index:3;
}

#share-infinitely {
	position:absolute;
	width:115px;
	height:34px;
	right:-120px;
	top:10px;
}

#share-infinitely a {
	display:block;
	width:100%;
	height:100%;
	background:url(/images/share-infinitely.png) no-repeat;
}

#share-infinitely a:hover {
	background:url(/images/back_to_index.png) no-repeat center;
}

.header_ratio_info {
	margin-left:8px;
	margin-right:8px;
}

.header_ratio_info span {
	margin-left:4px;
	margin-right:4px;
}

.header_ratio_info img {
	vertical-align:middle;
	margin-right:2px;
}

.index_notice a {
	width:200px;
	background:#FE9900;
	padding:20px;
	margin:0 auto 15px;
	text-align:center;
	display:block;
	color:#000;
	text-decoration:none;
}

.index_notice a:hover {
	font-weight:bold;
}

#subnav {
	background-color:#EFF3FF;
	height:25px;
	line-height:25px;
	width:100%;
	border-bottom: #C6DAF7 1px solid;
	text-align:center;
	margin:0 auto;
	padding-top:3px;
	clear:left;
	line-height:18px;
	min-width: 970px;
	/*margin-bottom:5px;*/
	overflow:hidden;
}

#ipv6test {
font-size:12px;
color:black;
text-align:center;
background:#FFECD0;
border:#FF9900 solid 1px;
padding:10px;
margin:0 20px 10px 20px;
line-height:1.5em;
}

#site-disclaimer {
	border:0 none;
	background:#DFDFDF;
	padding:20px;
	clear:both;
}

#footer {
background:#666;/*#5CB5D9;*/
color:#333333;
line-height:18px;
padding:15px;
text-align:center;
}

#footer a {
color:#333333;
}

#footer a:hover {
color:#000;
text-decoration:underline;
}

#footer .lehulink li {
	float: left;
	list-style: none;
	display:inline;
	margin-right:10px;
	vertical-align: middle;
	margin-bottom:6px;
}

#footer .lehulink img {
	vertical-align: middle;
	padding-right:3px;
	border:0;
}

#container {
	background:#DFDFDF;
	text-align: left;
	width: 100%;
	margin: 0 auto;
	border-bottom: 0 none;
}

#page_wrapper {
	position:relative;
	min-width:970px;
	margin:0 auto;
	box-shadow:0 -10px 10px #999;
}

#message {
	width:99%;
	border:1px solid #C6DAF7;
	margin:0 auto;
	margin-top: 5px;
	padding-bottom: 30px;
	background:#FFF;
}
#message h1{
	margin-left:25px;
	padding-left:50px;
	font-size:18px;
	font-weight:bold;
	line-height:50px;
	background: url("/images/new/op_failed.jpg") no-repeat left center;
}
#message .content{
	margin:0 auto;
	width:95%;
	border:1px dotted #ccc;
	line-height:40px;
	margin-bottom:20px;
	background-color:#eff3ff;
	font-size:14px;
	padding-left:20px;
}
#message a{
	text-decoration: none;
}

.rightPanelUserInfo {
	vertical-align:middle;
	margin-right:15px;
}

.rightPanelUserInfo img {
	vertical-align:middle;
}

/* module */
#mainContent {
	min-width:710px;
	margin: 0 240px 0 20px;
}

.online_users a {
	padding:2px 4px;
}

.online_user_avatars {
	margin:5px 0;
}

.online_user_avatars a {
	padding:4px;
	margin:1px;
	display:block;
	float:left;
	text-align:center;
	width:30px;
	height:46px;
	overflow:hidden;
	text-decoration:none;
}

.online_user_avatars a:hover {
	background:#A0DDF9;
	color:#000;
}

.online_user_avatars img {
	margin-bottom:2px;
	width:30px;
	height:30px;
}

#torrents-box {
	background:#EFF3FF;
	/*margin:10px;*margin:10px 10px 0 10px !important;*margin:10px;*/
}

#index-torrents {
	background:#EFF3FF url(/images/new-torrents-bg.jpg) repeat-x top;
	/*margin-bottom:10px;*/
}

#index-torrents table {
	margin-left:20px;
	border:0;
}

#index-torrents a {
	color:#333333;
	text-decoration:none;
}

#index-torrents a:hover {
	color:#0066FF;
	text-decoration:underline;
}

.box-content {
	margin:10px 15px 0 15px;
	padding-bottom:15px;
	color:#333333;
}

#sidebox{
	background:#EFF3FF url(/images/new-torrents-bg.jpg) repeat-x top;
	margin-bottom:10px;
	line-height:18px;
}

#sidebox .box-content a {
	color:#333333;
}

#sidebox .box-content a:hover {
	color:#000;
}

#sidebox .box-content ul{
	list-style:none;
	/*width:158px;
	border-left:1px solid #d2eeff;
	border-right:1px solid #d2eeff;*/
}
#sidebox .box-content ul li{
	/*border-bottom: 1px solid #d2eeff;*/
	line-height: 25px;
	padding-left: 25px;
	background: url(/images/icon2.gif) no-repeat 5px center transparent;
	white-space: nowrap;
	overflow: hidden;
}

#sidebox .newmsg{
	height:20px;
	width:180px;
	background-color:#ff0000;
	line-height:20px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	margin:10px auto 0;
}
#sidebox .newmsg a{
	color:white;
	text-decoration: none;
}

#onlineusers {
	background:#EFF3FF url(/images/onlineusers-bg.jpg) repeat-x top;
}

#onlineusers .title {
	color:#666;
	margin-left:15px;
	padding-top:10px;
}

.usertable {
	margin-left:20px;
	color:#666;
}

.box-title {
	background: url(/images/lehu-logo-small.png) no-repeat -1px 16px;
	padding-top: 17px;
	font-size: 17px;
	line-height: 17px;
	font-family: "微软雅黑","黑体";
	font-weight: bold;
	color: #444;
	height: 26px;
	padding-left: 54px;
}

.recent_visitor_avatar {
	padding: 7px;
	display: inline-block;
}

.recent_visitor_avatar img {
	width: 30px;
	height: 30px;
}

.latestuser {
	padding-right:8px;
	width:65%;
}

.ipv6_user_icon {
	margin-left:-3px;
	vertical-align:top;
}

/* search */
#search {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

#search .mid {
}


#search .mid .searchform {
	width: 580px;
	margin: 0 auto;
	display: block;
}

#search .searchTable {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6px;
}

#search .searchtxt {
	background: url("/images/searchtxtbg.gif") no-repeat center;
	border: 0 none;
	outline: 0 none;
	width: 290px;
	height: 26px;
	padding: 0 5px;
}
#search .mid .searchbutton {
	background:url("/images/searchbutton.gif") no-repeat;
	border:0;
	width:74px;
	height:24px;
	font-size:13px;
	padding-top:1px !important;
	padding-top:3px;
	cursor:pointer;
}

#search .mid .hotsearch {
	margin:0 auto;
	line-height:25px;
	height:25px;
	font-size:12px;
	color:#0066FF;
	text-align:center;
	overflow:hidden;
	width:710px;
}

.livingnews{
	overflow:hidden;
	width:100%;
	height:20px;
	font-size:12px;
	line-height:20px;
	text-align:left;
	/*background:#F5F8FA;
	border:1px solid #D1D7DC;color:blue;*/
}
.livingnews .txt{
	height:20px;
	overflow:hidden;
	width:100%;
}
.livingnews .txt a{
	color: #333;
	text-decoration: none;
	transition: color .25s ease;
}
.livingnews .txt a:hover{
	color: #06f;
}
.livingnews .cgbt{
	background:#D46C00;
	color:#fff;
	border-left:1px solid #E18C00;
	border-top:1px solid #E18C00;
	border-right:1px solid #B73400;
	border-bottom:1px solid #B73400;
}
.livingnews .req{
	background:#FF3232;
	color:#fff;
	border-left:1px solid #FF6F6F;
	border-top:1px solid #FF6F6F;
	border-right:1px solid #DB0000;
	border-bottom:1px solid #DB0000;
}
.livingnews .campus{
	background:#CC3299;
	color:#fff;
	border-left:1px solid #DA69B6;
	border-top:1px solid #DA69B6;
	border-right:1px solid #93236F;
	border-bottom:1px solid #93236F;
}
.livingnews span.searchlog{
	background:#5CB5D9;
	color:#fff;
	padding:1px;
}

/* layout */
#sidebar{
	float: right;
	width: 210px;
	margin-right:20px;*margin-right:20px !important;*margin-right:10px;
	overflow:hidden;
}

/* pager */
.pagecontent{
	/*margin:0 auto;*/
	margin:10px 0;
	margin-bottom:10px;
	/*text-align:right;*/
}
.pager{
	text-align:left;
}
.pager .ulb{
	margin-right:30px;
	width:200px;
}
.pager .ulb input{
	color:white;
	background:url(/images/ulbt.gif) no-repeat;
	width:110px;
	height:21px;
	line-height:21px;
	margin-bottom:1px;
	border:0px;
	vertical-align:middle;
	cursor:pointer;
}
.pager .current{
	font-weight:bold;
	padding:4px 6px 4px 6px;
}
.pager a{
	border:1px #ccc solid;
	margin-top:10px;
	padding:4px 6px 4px 6px;
	color:#000;
}
.pager a:link{
	border:1px #ccc solid;
}
.pager a:hover{
	border:1px #ccc solid;
	background-color: #5CB5D9;
	color:#fff;
}

.pager a.next{
	border:1px #ccc solid;
	padding:4px 6px 4px 6px;
	color:#000;
}
.pager span.next{
	border:1px #ccc solid;
	padding:4px 6px 4px 6px;
	color:#999;
}

/* torrent table */
.torrenttable{
	margin: 0 auto;
	border: 1px solid #68C9F4;
	border-collapse: collapse;
	width: 100%;
	background: #fff;
	font-size: 12px;
}
.torrenttable caption {
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
}
.torrenttable .c1{
	background-color: #D5E5ED;
}
.torrenttable tr .browse_extra_info {
	display: none;
}
.torrenttable tr:hover {
	background-color: #EFF3FF;
}
.torrenttable tr:hover .browse_extra_info {
	display: inline;
}
.torrenttable th{
	color: #fff;
	padding: 2px 2px 2px 2px;
	border: 1px solid #68C9F4;
	background: url("/images/tablebg.gif") repeat-x center top #049BFF;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
}
.torrenttable th a{
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
}
.torrenttable td{
	font-size: 12px;
	padding: 3px;
	border: 1px #68C9F4 solid;
	text-align: center;
	word-wrap: break-word;
	word-break: break-all;
}
.torrenttable td a{
	color: #333;
	text-decoration: none;
}
.torrenttable td img{
	vertical-align: middle;
	margin-left: 1px;
	margin-right: 1px;
}
.torrenttable .l{
	text-align:left;
}
.torrenttable .r{
	text-align:right;
}

.torrenttable td.white{
	background-color:#fff;
}
.torrenttable td.gray{
	background-color:#e1e1ff;
}
.torrenttable td.tdright{
	text-align:right;
}
.torrenttable td.tdleft{
	text-align:left;
}
.torrenttable .hidden_rmvb {
	display: none;
}

/* category (upload page) */
.category{
	display:none;
	clear:left;
	padding:0;
	margin:0;
}
.category td{
	font-size:12px;
	line-height:20px;
	padding-left:0px;
	padding-right:5px;
	vertical-align: middle;
}
.category input{
	color: #333333;
	font-weight: normal;
	background-color: #F5FBFF;
	border: 1px solid #7AC4EA;
	height:20px;
	width:70px;
	line-height:20px;
}
.category .w100{ width:100px; }
.category .w150{ width:150px; }
.category .w200{ width:200px; }
.category .w450{ width:450px; }

.category select{
	color: #333333;
	font-weight: normal;
	background-color: #F5FBFF;
	border: 1px solid #7AC4EA;
	height:20px;
}

.torrent_name_hint {
	background: #FFECD0;
	padding: 2px 4px;
	color: red;
}
.movie_genre {
	margin: 0 15px 0 0 !important;
}
.movie_genre input {
	width: auto;
}
.movie_cast, .tv_cast {
	margin-right: 5px;
}
#video_format_help {
	display: none;
	line-height:2;
	font-size:14px;
}
#video_format_help p {
	font-size:12px;
	font-weight:normal;
	text-indent:2em;
}
#video_format_help blockquote {
	font-size:12px;
	font-weight:normal;
	margin:10px 50px 10px 50px;
	border-width:1px;
	border-color:#68C9F4;
	border-style:solid;
	padding:10px;
}
#video_format_help ul.video_formats li{
	font-weight:bold;
	margin-bottom:10px;
	margin-left:35px;
	margin-right:20px;
	list-style-type:disc;
}
#video_format_help ul.video_name li{
	font-weight:normal;
	margin-bottom:5px;
	margin-left:2em;
	margin-right:20px;
	list-style-type:square;
	font-size:12px;
}

/* form table */
.w50{ width:50%; }	/* left td width */
.w40{ width:40%; }
.w30{ width:30%; }
.w35{ width:35%; }
.w25{ width:25%; }
.w20{ width:20%; }
.w15{ width:15%; }
.w10{ width:10%; }

.frmtable{
	/*border-collapse:collapse;*/
	width:100%;
	padding:1px;
	border:1px solid #ADDFFF;
	margin-bottom:10px;
	background:#EFF3FF;
}
.frmtable .page-title{
	padding:15px 0 10px 50px;
	font-size:24px;
	font-weight:bold;
	color:#000;
	vertical-align:middle;
	text-align:left;
}
.frmtable .page-title img{
	vertical-align:middle;
	margin-right:10px;
}
.frmtable .page-instructions{
	margin: 5px;
	padding: 5px;
	font-size: 14px;
	color: #000;
	text-align: left;
	line-height: 1.5em;
	border: #FF9900 solid 1px;
	background: #FFECD0;
}
.frmtable .torrent-title h1 {
	font-size: 20px;
	font-weight: bold;
	margin-left: 85px;
	word-wrap: break-word;
	word-break: break-all;
}
.frmtable .username h1 {
	font-size: 18px;
	font-weight: bold;
	display: inline;
}
.frmtable .bgtr{
	background-image:url(/images/tablebg.gif);
	color:white;
	height:15px;
	line-height:15px;
	font-size:10px;
}
.frmtable th{
	border:0px;
	padding:5px;
	color:#3366CC;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
/*.frmtable .bgc1{
	background-color:#EFF3FF;
}*/

.frmtable td{
	border:0;
	padding:5px;
	/*font-size:14px;*/
}
.frmtable td.white{
	background:#fff;
}
.frmtable td.gray{
	background:#EFF3FF;
}
.frmtable input{
	vertical-align: middle;
}
.frmtable label{
	padding: 2px;
	margin-right: 5px;
}
.frmtable fieldset {
	padding: 15px 15px 20px;
	margin: 10px 0 10px;
	border: 1px solid #7AC4EA;
	border-radius: 7px;
}
.frmtable legend {
	padding: 0 5px;
}
.frmtable .checkbox{
	border:0;
}
.frmtable .lefttd{
	text-align:right;
	/*background-color:#EFF3FF;
	font-size:14px;*/
}
.frmtable .input{
	border:1px solid #A5A6AD;
	font-size:12px;
	height:16px;
	line-height:16px;
	width:200px;
}
.reginput{
	border:1px solid #A5A6AD;
	font-size:14px;
	height:20px;
	line-height:20px;
	width:200px;
}
.btnsubmit{
	font-size:14px;
	height:30px;
	line-height:25px;
	width:300px;
}
.frminput{
	color: #333333;
	font-weight: normal;
	background-color: #fff;
	border: 1px solid #7AC4EA;
	font-size:14px;
	height:20px;
	line-height:20px;
	padding-left:2px;
}

.page-title{
	padding:15px 0 10px 50px;
	font-size:24px;
	font-weight:bold;
	color:#000;
	vertical-align:middle;
	text-align:left;
}
.page-title img{
	vertical-align:middle;
	margin-right:10px;
}

/* msg page (msg content) */
#msgContent {
border:1px solid #7AC4EA;
}

/* category (browse.php) */
.categories {
	margin:0 auto 15px;
	min-width:710px;
	padding:0;
	/*width:97%;*/
}

#categoryTabs{
	padding:0 15px 0 15px;
}
#categoryTabs li {
	height:20px;
	float: left;
	list-style: none;
	background-color: white;
	padding: 4px 7px 0 7px;
	font-size:14px;
	margin:0 0 0 4px;
	background-color: #5CB5D9;
	width:6.4%;
}
#categoryTabs li.activated {
	background-color: #EFF3FF;
	border-left:1px solid #5CB5D9;
	border-right:1px solid #5CB5D9;
	border-bottom:none;
	border-top:1px solid #5CB5D9;
}
#categoryTabs li.deactivated {
	background-color: #5CB5D9;
}
.categoryTabBg {
	padding:0;
	margin:0;
	text-align:center;
	height:24px;
	border-bottom:1px solid #5CB5D9;
	*border-bottom:1px solid #5CB5D9 !important;
	*border-bottom:none;
	*background-image:url(/images/categoryTabBg.gif);
	*background-repeat:repeat-x;
	*background-position:0 1px;
	
}
.categoryContent {
	word-spacing:15px;
	text-align:center;
	display:none;
	background-color: #EFF3FF;
	clear:left;
	padding:7px;
	font-size:14px;
	border-left:1px solid #5CB5D9;
	border-right:1px solid #5CB5D9;
	border-bottom:1px solid #5CB5D9;
	border-top:none;
}
select.frminput option.sub_category {
	padding-left: 2em;
}

/* messagebox */
.msgtable {
	border-collapse:collapse;
	padding:1px;
	margin-bottom:10px;
	width:99%;
	text-align:center;
	background:#EFF3FF;
}
.msgtable a {
	color:black;
}
.msgtable th{
	border:0px;
	padding:5px;
	color:#3366CC;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.msgtable .page-title{
	padding:15px 0 30px 50px;
	font-size:24px;
	font-weight:bold;
	color:#000;
	vertical-align:middle;
	text-align:left;
}
.msgtable .page-title img{
	vertical-align:middle;
	margin-right:10px;
}
.msgtable .title{
	background-color:#68C9F4;
}
.msgtable td{
	border:0;
	padding:3px;
	font-size:12px;
	border:1px solid #ADDFFF;
}
.msgtable .isread {
	width:35px;
}
.msgtable .isSystemMsg {
	width:35px;
}
.msgtable .from {
	width:100px;
}
.msgtable .sendtime {
	width:90px;
}
.msgtable .receiverRead {
	width:70px;
}
.msgtable .to {
	width:100px;
}
.msgtable .systemMsg {

}
.msgtable .unread {
	background-color:#FFFFCC;
	font-weight:bold;
}
.msgtable .msgcontent {
	text-align:left;
	line-height:1.5em;
}

/* detail page */
.detailpage{
	display:block;
	width:auto !important;
}

.detailpage .descr{
	padding: 10px;
	font-size: 12px;
	line-height: 1.8em;
}
.detailpage .descr img {
	max-width: 560px;
}
.detailpage .valign_top{
	vertical-align: top;
}
.detailpage .descr .alien_image {
	width: 280px;
	height: 30px;
	padding: 30px 10px 10px;
	overflow: hidden;
	background: url(/images/alien_image.png) center center;
    display: inline-block;       //some standard browsers
    zoom: 1;                     //IE only
    *display: inline;            //Only IE know this code (CSS Hack)
}
.detailpage .descr .alien_image .original_url{
	font-size: 10px;
	word-wrap: break-word;
	word-break: break-all;
}
.detailpage .descr ul {
	list-style: disc outside none;
	padding: 0 0 0 30px;
}
.detailpage .descr ol {
	padding: 0 0 0 30px;
}

#toptorrentmark{
	position:absolute;
	width:135px;
	height:101px;
	z-index:1;
	left: -65px;
	top: -105px;
}

.seeder_type {
	border-width: 1px;
	border-style: solid;
	margin: 0 4px 0 0;
	padding: 0 3px 0 0;
	font-size: 12px;
	height: 14px;
	line-height: 14px;
	display: inline-block;
	border-radius: 3px;
}
.seeder_type_icon {
	color: #F3F3F3;
	font-size: 12px;
	font-weight: bold;
	margin: 0 3px 0 0px;
	padding: 0 4px;
	display: inline-block;
	height: 14px;
	line-height: 14px;
}

.image_scroll {
	overflow:hidden;
	height: 150px;
	margin: 0 auto 10px;
}

.image_scroll li {
	display: inline;
	margin-left: 6px;
	margin-right: 6px;
	width:150px;
	overflow:hidden;
}

.image_scroll a {
	display: block;
	width: 150px;
	height: 150px;
	background-position: center center;
	background-origin: border-box;
	background-clip: border-box;
	background-size: cover;
}

.image_scroll a:hover {
	border: 3px solid #68C9F4;
	padding: 2px;
	height: 140px;
	width: 140px;
}

#image_scroll_left {
	position:absolute;
	left:30px;
	top:40px;
	width:30px;
	height:70px;
	z-index:2;
	cursor:pointer;
	background:url(/images/arrow_left.gif) no-repeat center;
}

#image_scroll_right {
	position:absolute;
	right:30px;
	top:40px;
	width:30px;
	height:70px;
	z-index:2;
	cursor:pointer;
	background:url(/images/arrow_right.gif) no-repeat center;
}

.related_artists {
	padding: 10px;
}
.related_artists a {
	float: left;
	width: 80px;
	height: 76px;
	padding: 3px;
	overflow: hidden;
	text-align: center;
}
.related_artists a img {
	width: 60px;
	height: 60px;
	margin: 0 auto 2px;
	display: block;
}

/* comment */
#comment-div .comment-table {
	table-layout: fixed;
	margin-top: 10px;
	color: #333;
}

#comment-div .comment-table td {
	vertical-align: top;
	word-wrap: break-word;
}

#comment-div .comment-table a {
	cursor: pointer;
}

#comment-div .comment-header {
	color: #999;
	height: 18px;
	word-wrap: break-word;
}

#comment-div .comment-content {
	vertical-align: top;
	word-break: break-all;
	word-wrap: break-word;
}

.signatureinfo {
	background:url(/images/signatureinfo.gif) no-repeat left top;
	padding-top:18px;
	margin-top:36px;
	max-height:36px;
	overflow:hidden;
	color:#666;
	_height: expression( this.scrollHeight > 36 ? "36px" : "auto" ); /* sets max-height for IE6 */
}

#comment-div .splayer-hint a {
	text-decoration:none;
	padding-right:16px;
	margin-right:2px;
	color:#000;
	background:url(/images/splayer-icon.gif) top right no-repeat;
}

#comment-div .splayer-hint a:hover {
	text-decoration:none;
	padding-left:96px;
	padding-right:0px;
	margin:0 2px;
	color:#0066FF;
	background:url(/images/splayer-hint.gif) left 2px no-repeat;
}

#comment-div .splayer-hint span {
	border-bottom:dashed 1px #333;
	padding:2px;
}


/* announcements.php */
.announcement_container {
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	padding:15px 30px;
	width:700px;
	line-height:1.8;
	font-size:14px;
	background:#EFF3FF;
	border:1px solid #68C9F4;
}
.announcement {
	margin-bottom:25px;
}
.announcement .addtime {
	font-size:12px;
	color:#666;
	margin-right:10px;
}
.announcement .adduser {
	font-size:12px;
	color:#666;
	margin-right:5px;
}
.announcement .announcement_body {
	margin-top:8px;
	padding:10px;
	border:1px solid #68C9F4;
}
.announcement_editor {
	margin: 10px auto;
}

/* userdetails */
.you_may_know {
	margin:10px auto 30px;
	width:610px;
}

.you_may_know a {
	padding:8px;
	margin:0px 5px;
	display:block;
	float:left;
	text-align:center;
	width:50px;
	height:62px;
	overflow:hidden;
	text-decoration:none;
}

.you_may_know a:hover {
	background:#A0DDF9;
	color:#000;
	z-index:2;
}

.you_may_know img {
	margin-bottom:2px;
	width:50px;
	height:50px;
	cursor:pointer;
}

.you_may_know p {
	font-size:14px;
	font-weight:bold;
}

#dingajax {
	cursor:pointer;
	background:url(/images/ding.gif);
	height:50px;
	width:50px;
	float:left;
}

#caiajax {
	cursor:pointer;
	background:url(/images/cai.gif);
	height:50px;
	width:50px;
	float:right;
}

.rateCount {
	margin-top:6px;
	font-size:14px;
	font-weight:bold;
	font-family:Georgia;
	color:#000;
	text-align:center;
}

.friend_links {
	text-align:left;
	margin-bottom:20px;
}

.friend_links a {
	display:block;
	text-decoration:none;
}

.friend_links a:hover {
	background:#9FDCF8;
}

.friend_links img {
	vertical-align:middle;
	margin:10px;
	height:50px;
}

.friend_links span {
	vertical-align:middle;
}


.mention_friend_list {
}
.mention_friend_list li {
	width: 146px;
	height: 32px;
	padding: 2px;
	line-height: 30px;
	overflow: hidden;
	display: block;
	float: left;
	margin: 0;
	background: #DEEEF3;
}
.mention_friend_list li:hover {
	background: #7AC4EA;
	cursor: pointer;
}
.mention_friend_list img {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	vertical-align: middle;
}

/* douban */
.douban_wrapper {
	padding: 20px;
}
.douban_wrapper .submitbutton {
	width: 74px;
	height: 24px;
	line-height: 24px;
	border: 0 none;
}
.douban_search {
	margin-top: 10px;
}
.douban_search .douban_poster{
	float: left;
	margin-right: 5px;
	width: 70px;
	height: 94px;
}
.douban_search_results li{
	display: inline-block;
	width: 190px;
	height: 94px;
	overflow: hidden;
	margin: 4px;
}


.review_rating {
	background-image: url('/images/stars.png');
	margin: 0 6px 0 0;
	width: 50px;
	height: 14px;
	vertical-align: middle;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.review_rating_grade_0 {
	background: none;
}
.review_rating_grade_1 {
	background-position: left 14px;
}
.review_rating_grade_2 {
	background-position: left 29px;
}
.review_rating_grade_3 {
	background-position: left 45px;
}
.review_rating_grade_4 {
	background-position: left 61px;
}
.review_rating_grade_5 {
	background-position: left 77px;
}


/* video */
#video_wrapper {
	margin: 0;
	padding: 0;
	border: 0 none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(50,50,50,0.8);
	display: none;
}
#video_wrapper tr {
	padding: 0;
	margin: 0;
}
#video_wrapper td {
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
#video_close {
	margin: 5px auto 0;
	padding: 5px 10px;
	font-size: 20px;
	width: 50px;
	text-align: center;
	background: #111;
	color: #ccc;
	cursor: pointer;
	display: none;
}
#video_close:hover {
	font-weight: bold;
}
#jwplayer_div_wrapper {
	margin: 0 auto;
}
#play_video_hint {
	padding: 10px;
	background: #BDE2ED;
	border: 1px dotted #2795FF;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
    vertical-align: middle;
	margin: 10px auto 20px;
	width: 400px;
}
#play_video_hint:hover {
	font-weight: bold;
}
#play_video_hint .play {
	margin-right: 5px;
	vertical-align: middle;
	width: 24px;
}


.share_button_wrapper {
	background-color: #FFF;
	font-size: 12px;
	padding: 0 7px;
	margin-left: 10px;
	line-height: 26px;
	height: 26px;
	border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.share_button_wrapper span {
}
.share_button_wrapper .item {
	background-position: 5px center;
	background-repeat: no-repeat;
	margin-left: 5px;
	padding: 0 5px 0 21px;
	text-decoration: none;
	transition: background-color .25s ease, color .25s ease;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.share_button_wrapper .item:hover {
	background-color: #68C9F4;
	color: #fff;
	text-decoration: none;
}
.share_button_wrapper .renren {
	background-image: url(/images/share_renren_icon.png);
}
.share_button_wrapper .sina_weibo {
	background-image: url(/images/share_sina_weibo_icon.png);
}
.share_button_wrapper .tencent_weibo {
	background-image: url(/images/share_tencent_weibo_icon.png);
}

.add_to_list_button {
	background: url(/images/add_to_list.png) no-repeat 5px center #fff;
	border: 0 none;
	cursor: pointer;
	font-size: 12px;
	padding: 0 5px 0 23px;
	margin-left: 10px;
	border-radius: 5px;
	line-height: 26px;
	height: 26px;
	vertical-align: middle;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.add_to_list_form {
	width: 280px;
	padding: 10px;
	text-align: center;
	background: #fff;
	position: absolute;
	z-index: 2;
	display: none;
}
.add_to_list_form select {
	width: 280px;
	font-size: 12px;
	margin-bottom: 3px;
}
.add_to_list_form textarea {
	width: 268px;
	padding: 5px;
	background: #F5FBFF;
	margin-bottom: 3px;
	font-size: 12px;
	border: 1px solid #7AC4EA;
}

.add_to_rss_button {
	background: url(/images/rss_icon.png) no-repeat 5px center #fff;
	border: 0 none;
	cursor: pointer;
	font-size: 12px;
	padding: 0 5px 0 23px;
	margin-left: 10px;
	border-radius: 5px;
	line-height: 26px;
	height: 26px;
	vertical-align: middle;
	display: inline-block;
	*display: inline;
	zoom: 1;
}


.torrenttable2 {
	background: none repeat scroll 0 0 white;
	border: 1px solid #68C9F4;
	border-collapse: collapse;
	font-size: 12px;
	margin: 0 auto;
	padding: 5px;
	width: 100%;
}
.torrenttable2 th {
	background: url("/images/tablebg.gif") repeat-x scroll 0 0 #049BFF;
	border: 1px solid #68C9F4;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: normal;
	padding: 2px;
	text-align: center;
}
.torrenttable2 th a {
	color: #FFFFFF;
	text-decoration: none;
	white-space: nowrap;
}
.torrenttable2 td {
	border: 1px solid #68C9F4;
	font-size: 12px;
	padding: 3px;
	text-align: center;
	word-wrap: break-word;
}
.torrenttable2 td a {
	color: #000000;
	text-decoration: none;
}
.torrenttable2 td img {
	margin-left: 1px;
	margin-right: 1px;
	vertical-align: middle;
}
.torrenttable2 .l {
	text-align: left;
}


#find_button {
	left: 310px;
	position: absolute;
	top: -82px;
	display: none;
}
#discovery_wrapper {
	height: 130px;
	overflow: hidden;
	text-align: center;
	background: #0085B2;
}
#discovery_wrapper .item {
	position: relative;
	text-align: left;
	height: 100px;
	width: 210px;
	padding: 5px;
	margin: 10px 5px 10px 0;
	overflow: hidden;
	vertical-align: top;
	line-height: 1.3em;
	background: #dfdfdf;
	*background: #aaa;
	opacity: 0.4;
	display: inline-block;
	*display: inline;
	zoom: 1;
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-property: opacity;
	   -moz-transition-property: opacity;
	    -ms-transition-property: opacity;
	     -o-transition-property: opacity;
	        transition-property: opacity;
}
#discovery_wrapper .item:hover {
	background: #dfdfdf;
	opacity: 1; 
}
#discovery_wrapper .item p {
	white-space: nowrap;
}
#discovery_wrapper .item .poster {
	float: left;
	width: 70px;
	height: 100px;
	margin-right: 5px;
}
#discovery_wrapper .item .title {
	font-weight: bold;
}
#discovery_wrapper .item .link_wrapper {
	position: absolute;
	width: 210px;
	padding: 5px;
	top: 110px;
	left: 0;
	text-align: center;
	background: #000;
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-property: top;
	   -moz-transition-property: top;
	    -ms-transition-property: top;
	     -o-transition-property: top;
	        transition-property: top;
}
#discovery_wrapper .item:hover .link_wrapper {
	top: 85px;
}
#discovery_wrapper .link {
	background: #000;
	padding: 1px 4px;
	margin: 0 7px;
	color: #fff;
	text-decoration: none;
}
#discovery_wrapper .link:hover {
	background: #FE9900;
	color: #000;
}


.operation_message {
	margin: 30px auto 130px;
	width: 920px;
	padding: 15px 30px 20px;
}
.operation_message h2 {
	padding-left: 50px;
	line-height: 50px;
	font-size: 18px;
	background: url('/images/information.png') no-repeat left center transparent;
}
.operation_message a {
	color: #06f;
	text-decoration: none;
}
.operation_message a:hover {
	text-decoration: none;
}
.operation_message .content {
	font-size: 14px;
	line-height: 30px;
}

.handy_buttons_wrapper {
	display: none;
	position: fixed;
	bottom: 140px;
	width: 50px;
}
.handy_buttons_wrapper .item {
	cursor: pointer;
	overflow: hidden;
	text-indent: -300px;
	text-align: center;
	color: #000;
	font-size: 12px;
	line-height: 50px;
	height: 50px;
	width: 50px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #aaa;
	background-color: rgba(0, 0, 0, 0.2);
	transition: background-color .25s ease, opacity .25s ease;
}
.handy_buttons_wrapper .item:hover {
	text-indent: 0;
	background-image: none;
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #888;
	background-color: rgba(0, 0, 0, 0.3);
}
.handy_buttons_wrapper .up {
	background-image: url("/images/handy_buttons_up.png");
}
.handy_buttons_wrapper .video {
	background-image: url("/images/handy_buttons_video.png");
}
.handy_buttons_wrapper .comment {
	background-image: url("/images/handy_buttons_comment.png");
}

/* global buttons */
.submitbutton {
	background: url("/images/searchbutton.gif") no-repeat;
	border: 0 none;
	width: 74px;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
}
.submitbutton_long {
	background: url("/images/searchbutton_long.gif") no-repeat;
	border: 0 none;
	width: 110px;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
}

.sendmsgbutton {
	background: url("/images/ulbt.gif") no-repeat;
	width: 110px;
	height: 21px;
	line-height: 21px;
	font-size: 12px;
	border: 0 none;
	vertical-align: middle;
	cursor: pointer;
}