.popupCover,
.popupComponent {
position:absolute;
left:0; 
top:0; 
width:100%;
height:100%;

}
.popupComponent { 
z-index:1000;
display:none;
position:fixed;
top:0px;
left:0px;
}
.popupIframe { 
display:none; 
_display:block; 
_filter:alpha(opacity=0);
}
.popupCover { 
background:#000; 
opacity:0.1; 
*filter:alpha(opacity=10);
filter:alpha(opacity=10);
-moz-opacity:0.1;
}


.jsbox{
margin: 0;
padding: 0;
border-collapse: collapse;
position: absolute;
z-index:1300;
display:none;
border-radius:5px;
box-shadow:0 0 5px rgba(0,0,0,0.6);
}

.jsboxContent{
border-radius:5px;
float:left;
background:#FFFFFF;
position: relative;
overflow-y:hidden;
overflow-x:hidden;
}
.jsboxTitle
{
background-color: #EEEEEE;
border-bottom: 1px solid #C6C6C6;
color:#4C4C4C;
font-size: 14px;
font-weight: bold;
margin: -1px -1px 0;
padding: 5px 10px;

}
.jsboxFooter{
display:none;
background-color: #F2F2F2;
border-top: 1px solid #CCCCCC;
padding: 6px 10px;
text-align: right;
}
.jsboxAn_Cancel,.jsboxAn_save,.jsboxAn_ok{
background-image:url(../../../../js/plug-in/images/images_jsbox/button.png);
background-position:0 0;
border:1px #999999 solid;
cursor:pointer;
display:inline-block;
font-size: 13px;
font-weight:bold;
line-height:normal !important;
margin-left:3px;
padding:0px 6px;
text-align: center;
vertical-align:top;
white-space:nowrap;
height:24px;
}	
.jsboxAn_Cancel{
}
.jsboxAn_save{
background-position: 0 -96px;
border-color: #3B6E22 #3B6E22 #2C5115;
}
.jsboxAn_ok{
background-position: 0 -48px;
border-color: #29447E #29447E #1A356E;
}
.jsboxAn_Cancel input,.jsboxAn_save input,.jsboxAn_ok input{
background:none;
border:0 none !important;
color:#666666;
cursor:pointer;
display:inline-block;
font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
font-size: 13px;
font-weight:bold;
margin:0;
padding:1px 0 2px;
text-align:center;
text-indent:0;
text-shadow:none;
white-space:nowrap;
}
.jsboxAn_save input{
 color:#ffffff;
}
.jsboxAn_ok input{
 color:#ffffff;
}
.topLeft,.topRight,bottomLeft,bottomRight{
background-repeat: no-repeat;
height:10px;
width:10px;
}
.topLeft{
background-image:url(../../../../js/plug-in/images/images_jsbox/tl.png);
background-position: left top;
}
.topRight{
background-image: url(../../../../js/plug-in/images/images_jsbox/tr.png);
background-position: right top;
}
.bottomLeft{
background-image: url(../../../../js/plug-in/images/images_jsbox/bl.png);
background-position:left bottom ;
}
.bottomRight{
background-image: url(../../../../js/plug-in/images/images_jsbox/br.png);
background-position:right bottom;
}
.topCenter,.bottomCenter
{
background-image: url(../../../../js/plug-in/images/images_jsbox/b.png);
background-repeat: repeat-x;
height: 10px;
width: auto;
}
.centerLeft,.centerRight{
background-image: url(../../../../js/plug-in/images/images_jsbox/b.png);
background-repeat: repeat-y;
height: auto;
width: 10px;
}

.loading{
width:100%;
height:100%;
min-height:100px;
background:url(images_jsbox/loading.gif) no-repeat center center;
margin:0 auto;
}
.iframebox
{
border:0px!important;
overflow:auto;
}
.jsbox_close
{
color:#efefef!important;
font-size:14px!important;
font-weight:bold!important;
height:18px;
position: absolute;
right: 10px;
top: 5px;
width:19px;
text-align:center;
background:url(images_jsbox/jsbox_close.png) -3px -5px no-repeat;
}
/*.jsbox_close:hover{
color:#ffffff;
border:1px #cccccc solid;
background:#993300;
text-decoration:none!important;
}*/