.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@-moz-keyframes flipInX {
    0% {
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        -moz-transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        -moz-transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@-o-keyframes flipInX {
    0% {
        -o-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        -o-transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        -o-transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        -o-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}

.flipInX {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInX;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInX;
	backface-visibility: visible !important;
	animation-name: flipInX;
}

@-webkit-keyframes flipOutX {
    0% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
	100% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

@-moz-keyframes flipOutX {
    0% {
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
	100% {
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

@-o-keyframes flipOutX {
    0% {
        -o-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
	100% {
        -o-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

@keyframes flipOutX {
    0% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
	100% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
}

.flipOutX {
	-webkit-animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	-moz-animation-name: flipOutX;
	-moz-backface-visibility: visible !important;
	-o-animation-name: flipOutX;
	-o-backface-visibility: visible !important;
	animation-name: flipOutX;
	backface-visibility: visible !important;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	height: 100%;
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-o-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	-moz-animation-name: fadeOut;
	-o-animation-name: fadeOut;
	animation-name: fadeOut;
	height: 0;
}

/* Above all are from animate.css by daneden http://daneden.me/animate/ */

.from-top{
	-webkit-transform-origin: 0% 0%;
	 -moz-transform-origin: 0% 0%;
	  -ms-transform-origin: 0% 0%;
	   transform-origin: 0% 0%;
}

.from-left{
	-webkit-transform-origin: 0% 100%;
	 -moz-transform-origin: 0% 100%;
	  -ms-transform-origin: 0% 100%;
	   transform-origin: 0% 100%;
}

.from-top, .from-left{
	-webkit-animation: enter-clockwise 0.23s ease-out;
	 -moz-animation: enter-clockwise 0.23s ease-out;
	  -ms-animation: enter-clockwise 0.23s ease-out;
	   animation: enter-clockwise 0.23s ease-out;
}

.from-right{
	-webkit-transform-origin: 100% 100%;
	 -moz-transform-origin: 100% 100%;
	  -ms-transform-origin: 100% 100%;
	   transform-origin: 100% 100%;
}

.from-bottom{
	-webkit-transform-origin: 0% 100%;
	 -moz-transform-origin: 0% 100%;
	  -ms-transform-origin: 0% 100%;
	   transform-origin: 0% 100%;
}

.from-right, .from-bottom{
	-webkit-animation: enter-anti-clockwise 0.23s ease-out;
	 -moz-animation: enter-anti-clockwise 0.23s ease-out;
	  -ms-animation: enter-anti-clockwise 0.23s ease-out;
	   animation: enter-anti-clockwise 0.23s ease-out;
}

.to-top{
	-webkit-transform-origin: 0% 0%;
	 -moz-transform-origin: 0% 0%;
	  -ms-transform-origin: 0% 0%;
	   transform-origin: 0% 0%;
}

.to-left{
	-webkit-transform-origin: 0% 100%;
	 -moz-transform-origin: 0% 100%;
	  -ms-transform-origin: 0% 100%;
	   transform-origin: 0% 100%;
}

.to-top, .to-left{
	-webkit-animation: leave-anti-clockwise 0.23s ease-out;
	 -moz-animation: leave-anti-clockwise 0.23s ease-out;
	  -ms-animation: leave-anti-clockwise 0.23s ease-out;
	   animation: leave-anti-clockwise 0.23s ease-out;
}

.to-right{
	-webkit-transform-origin: 100% 100%;
	 -moz-transform-origin: 100% 100%;
	  -ms-transform-origin: 100% 100%;
	   transform-origin: 100% 100%;
}

.to-bottom{
	-webkit-transform-origin: 0% 100%;
	 -moz-transform-origin: 0% 100%;
	  -ms-transform-origin: 0% 100%;
	   transform-origin: 0% 100%;
}

.to-right, .to-bottom{
	-webkit-animation: leave-clockwise 0.23s ease-out;
	 -moz-animation: leave-clockwise 0.23s ease-out;
	  -ms-animation: leave-clockwise 0.23s ease-out;
	   animation: leave-clockwise 0.23s ease-out;
}

@-webkit-keyframes enter-clockwise{
	from{
		z-index: 3;
		-webkit-transform: rotate(-90deg);
	}
	to{
		z-index: 3;
		-webkit-transform: rotate(0deg);
	}
}@-moz-keyframes enter-clockwise{
	from{
		z-index: 3;
		-moz-transform: rotate(-90deg);
	}
	to{
		z-index: 3;
		-moz-transform: rotate(0deg);
	}
}@-ms-keyframes enter-clockwise{
	from{
		z-index: 3;
		-ms-transform: rotate(-90deg);
	}
	to{
		z-index: 3;
		-ms-transform: rotate(0deg);
	}
}@keyframes enter-clockwise{
	from{
		z-index: 3;
		transform: rotate(-90deg);
	}
	to{
		z-index: 3;
		transform: rotate(0deg);
	}
}

@-webkit-keyframes enter-anti-clockwise{
	from{
		z-index: 3;
		-webkit-transform: rotate(90deg);
	}
	to{
		z-index: 3;
		-webkit-transform: rotate(0deg);
	}
}@-moz-keyframes enter-anti-clockwise{
	from{
		z-index: 3;
		-moz-transform: rotate(90deg);
	}
	to{
		z-index: 3;
		-moz-transform: rotate(0deg);
	}
}@-ms-keyframes enter-anti-clockwise{
	from{
		z-index: 3;
		-ms-transform: rotate(90deg);
	}
	to{
		z-index: 3;
		-ms-transform: rotate(0deg);
	}
}@keyframes enter-anti-clockwise{
	from{
		z-index: 3;
		transform: rotate(90deg);
	}
	to{
		z-index: 3;
		transform: rotate(0deg);
	}
}

@-webkit-keyframes leave-clockwise{
	from{
		z-index: 3;
		-webkit-transform: rotate(0deg);
	}
	to{
		z-index: 3;
		-webkit-transform: rotate(90deg);
	}
}@-moz-keyframes leave-clockwise{
	from{
		z-index: 3;
		-moz-transform: rotate(0deg);
	}
	to{
		z-index: 3;
		-moz-transform: rotate(90deg);
	}
}@-ms-keyframes leave-clockwise{
	from{
		z-index: 3;
		-ms-transform: rotate(0deg);
	}
	to{
		z-index: 3;
		-ms-transform: rotate(90deg);
	}
}@keyframes leave-clockwise{
	from{
		z-index: 3;
		transform: rotate(0deg);
	}
	to{
		z-index: 3;
		transform: rotate(90deg);
	}
}

@-webkit-keyframes leave-anti-clockwise{
	from{
		z-index: 3;
		-webkit-transform: rotate(0deg);
	}
	to{
		z-index: 3;
		-webkit-transform: rotate(-90deg);
	}
}@-moz-keyframes leave-anti-clockwise{
	from{
		z-index: 3;
		-moz-transform: rotate(0deg);
	}
	to{
		z-index: 3;
		-moz-transform: rotate(-90deg);
	}
}@-ms-keyframes leave-anti-clockwise{
	from{
		z-index: 3;
		-ms-transform: rotate(0deg);
	}
	to{
		z-index: 3;
		-ms-transform: rotate(-90deg);
	}
}@keyframes leave-anti-clockwise{
	from{
		z-index: 3;
		transform: rotate(0deg);
	}
	to{
		z-index: 3;
		transform: rotate(-90deg);
	}
}

@-webkit-keyframes slideDown{
	from{
		-webkit-transform: translateY(-75px);
	}
	to{
		-webkit-transform: translateY(0px);
	}
}@-moz-keyframes slideDown{
	from{
		-moz-transform: translateY(-75px);
	}
	to{
		-moz-transform: translateY(0px);
	}
}@-ms-keyframes slideDown{
	from{
		-ms-transform: translateY(-75px);
	}
	to{
		-ms-transform: translateY(0px);
	}
}@keyframes slideDown{
	from{
		transform: translateY(-75px);
	}
	to{
		transform: translateY(0px);
	}
}

@-webkit-keyframes slideUp{
	from{
		-webkit-transform: translateY(0px);
	}
	to{
		-webkit-transform: translateY(-75px);
	}
}@-moz-keyframes slideUp{
	from{
		-moz-transform: translateY(0px);
	}
	to{
		-moz-transform: translateY(-75px);
	}
}@-ms-keyframes slideUp{
	from{
		-ms-transform: translateY(0px);
	}
	to{
		-ms-transform: translateY(-75px);
	}
}@keyframes slideUp{
	from{
		transform: translateY(0px);
	}
	to{
		transform: translateY(-75px);
	}
}